<footer class="footer">
  <small>
    Taking over the world one email at a time.
  </small>
  <nav>
    <ul>
      <li><%= link_to "NUS Hackers", 'http://nushackers.org' %></li>
    </ul>
  </nav>
</footer>
